dog_image.json
{
  "name": "dog-image",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 提取第一個（也是唯一一個）圖片的 URL\nconst imageUrl = $input.first().json.url;\n\n// 返回這個 URL 用於後續的處理\nreturn [\n  {\n    json: {\n      memeUrl: imageUrl\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "f0f72825-afb1-4dd2-a180-4322a43f1114",
      "name": "Handle URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "TEAMS_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"type\":\"message\",\n   \"attachments\":[\n      {\n         \"contentType\":\"application/vnd.microsoft.card.adaptive\",\n         \"contentUrl\":null,\n         \"content\":{\n            \"$schema\":\"http://adaptivecards.io/schemas/adaptive-card.json\",\n            \"type\":\"AdaptiveCard\",\n            \"version\":\"1.2\",\n            \"body\":[\n                    {\n                        \"type\": \"Image\",\n                        \"url\": \"{{ $json.memeUrl }}\",\n                        \"msTeams\": {\n                            \"allowExpand\": true\n                        }\n                    }\n            ]\n         }\n      }\n   ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "id": "6bd612c5-3d48-4009-b390-84d4d5f7f0d3",
      "name": "Send To Teams"
    },
    {
      "parameters": {
        "url": "https://api.thedogapi.com/v1/images/search",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "aaf964a5-6ecd-43c8-8174-fbe76575d35b",
      "name": "Get Dog Image",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "23281056-0720-4ccf-bec9-e5e2e09a70c3",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Handle URL": {
      "main": [
        [
          {
            "node": "Send To Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dog Image": {
      "main": [
        [
          {
            "node": "Handle URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Dog Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send To Teams": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39b921a0-504f-40ee-86ae-afdd1a216fb8",
  "meta": {
    "instanceId": "cd187d860f75387198a90cd4a2a3708f5be672d5faca8c7b3e6dd50deea8094a"
  },
  "id": "iQAFTJwj7qN3XEW4",
  "tags": []
}